<!DOCTYPE html>
<html>
    <head>
        <title>Mini Library - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="/static/style.css" rel="stylesheet">
        <style>{% block style %}{% endblock %}</style>
    </head>
    <body>
        <header>
            <a href="/"><span id="logo"><img src="/static/LibrariesIcon.svg"> Mini Library</span></a>
            <!-- <div class="separator"> -->
            <div>
                <a href="/books">Books</a>
            </div>

            <div id="account-management">
                {% if session["user_id"] %}
                <a href="{{url_for('auth.logout')}}">Log out</a>
                {% else %}
                <a href="{{url_for('auth.register')}}">Register</a>
                <a href="{{url_for('auth.login')}}">Log in</a>
                {% endif %}
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
